<!-- include header -->
<%- include("include/_header") %>

<!-- main -->
<main>
  <div class="main-container">
    <a href="/" class="main-btn"><i class="fas fa-backward"></i> All Users</a>
    
    <div class="form-title">
      <h2>Add New User</h2>
      <p class="txt-light"> Please fill out all the fields below</p>
    </div>

    <!-- include user form -->
    <%- include("include/_form_add") %>
  </div>
</main>

<!-- include footer -->
<%- include("include/_footer") %>