<!-- include header -->
<%- include("include/_header") %>

<!-- main -->
<main>
  <div class="main-container">
    <a href="/" class="main-btn"><i class="fas fa-backward"></i> All Users</a>
    
    <div class="form-title">
      <h2>Update Existing User</h2>
      <p class="txt-light"> Change the necessary fields below</p>
    </div>

    <!-- include update form -->
    <%- include("include/_form_update") %>
    
  </div>
</main>

<!-- include footer -->
<%- include("include/_footer") %>