<form method="POST" id="update-user">
  <div class="form-group">
    <label for="name" class="txt-medium">Name</label>
    <input type="hidden" name="id" value="<%= user._id %>">
    <input type="text" name="name" value="<%= user.name %>" placeholder="Firstname Lastname">
  </div>
  <div class="form-group">
    <label for="email" class="txt-medium">Email</label>
    <input type="text" name="email" value="<%= user.email %>" placeholder="example@gmail.com">
  </div>
  <div class="form-group">
    <label for="gender" class="txt-medium">Gender</label>
    <div class="radio-wrapper">
      <div class="form-radio">
        <input id="radio-1"type="radio" name="gender" value="Male" <% if(user.gender == "Male"){ %> checked="checked" <% } %>>
        <label for="radio-1" class="txt-light">Male</label>
      </div>
      <div class="form-radio">
        <input id="radio-2" type="radio" name="gender" value="Female" <% if(user.gender == "Female"){ %> checked="checked" <% } %>>
        <label for="radio-2" class="txt-light">Female</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="status" class="txt-medium">Status</label>
    <div class="radio-wrapper">
      <div class="form-radio">
        <input id="radio-3" type="radio" name="status" value="Active" <% if(user.status == "Active"){ %> checked="checked" <% } %>>
        <label for="radio-3" class="txt-light">Active</label>
      </div>
      <div class="form-radio">
        <input id="radio-4" type="radio" name="status" value="Inactive" <% if(user.status == "Inactive"){ %> checked="checked" <% } %>>
        <label for="radio-4" class="txt-light">Inactive</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button class="form-submit" type="submit"><span>Save</span></button>
  </div>
</form>